---
self-contained: True
title: Lab 4
author: Tuukka Jaakkola
date: '10/30/2023'
output: html
theme: darkly
---

In [225]:
import warnings
import pandas as pd
import requests
import re
from requests import get
from bs4 import BeautifulSoup



#Disclosure: These list are made by chat GPT
states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut","District of Columbia", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]
state_abbreviations = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "District of Columbia": "DC",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

stock_map = {"Starbucks": "sbux?mod=search_symbol",
            "Dunkin": "",
            "Peet's": "jdep?countrycode=nl&mod=search_symbol",
            "Tim": "qsr?mod=search_symbol",
            "Panera": "",
            "Caribou": "qsr?mod=search_symbol",
            "Au":"yum?mod=search_symbol",
            "The": "jfc?countrycode=ph&mod=search_symbol",
            "McDonald's": "mcd?mod=search_symbol"}

I chose to Use lists to map the state abbreviations instead of writing a seperate function for it. I am also feeding these

In [234]:
def get_price(name):
    """
    Find the stock price for the given restaurant
  
    Parameter
    ---------
    name : str
        The first word of the retaurant name
    
    Returns
    -------
    number for stock price
    """
    
    # Dunkin and Panera are private companies so price is hardcoded
    if name == "Dunkin":
        stock_website = 106.48
    elif name == "Panera":
        stock_website = 314.93
    # Peet's and The coffee are in a different format on the same page so they are seperated
    # I assume this is to do with the foreign markets
    elif name == "Peet's" or name == "The":
        ext = stock_map.get(name)

        stock_website = get_website("https://www.marketwatch.com/investing/stock/" + ext)

        stock_website = stock_website.find("div", {"class":"intraday__data"})

        stock_website = stock_website.find("span")

        stock_website = stock_website.text
    else:
        ext = stock_map.get(name)

        stock_website = get_website("https://www.marketwatch.com/investing/stock/" + ext)

        stock_website = stock_website.find("div", {"class":"intraday__data"})

        stock_website = stock_website.find("bg-quote")

        stock_website = stock_website.text
    
    print(stock_website)

In [135]:
def get_website(url):
    
    Headers = {
    "user-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36 Edg/118.0.2088.61" 
    }
    
    restaurant = requests.get(url, headers = Headers, timeout = 25)
    restaurant_soup = BeautifulSoup(restaurant.content, "html.parser")
    return restaurant_soup

In [238]:
def rest_loc(url, states = states, state_abbreviations = state_abbreviations):
    """
    Scrapes the menuisim website for the amount of restaurant locations for the link provided
  
    Parameter
    ---------
    url : str
        A url link in quotation marks for the desired restaurant chain
    states : lsit
        A list of specific states wanted
    state_abbreviations : dict
        A dictionary mapping states to the desired abbreviations
    
    Returns
    -------
    dataframe 
    A pandas dataframe containing states, abbreviations, and counts for the desired chain
    
    """
    
    # Get the desired html file
    restaurant_soup = get_website(url)
    
    # Find the list of restaurant locations
    restaurant = restaurant_soup.find("div", {"class":"col-sm-6"})
    # Find all instances (locations)
    restaurant = restaurant.find_all("li")
    
    # Initialize an empty list
    rows = []

    # Iterate over all rows in the retaurant list
    for location in restaurant:
        
        # Creates and empty variable state
        state = ""

        # take each state (already contains the location count)
        state_tag = location.find("a")
        if state_tag is not None:
            state = state_tag.text
        else:
            None

        # Append this data.
        rows.append({
            "State": state
        })

    # Create a DataFrame from the list of dictionaries
    data = pd.DataFrame(rows)
    
    # remove ()
    data["State"] = data["State"].apply(lambda x: x.replace("(", "").replace(")", ""))
    
    # Split the count from the rest of the string
    data[["State","Count"]] = data["State"].str.rsplit(pat = " ",n = 1, expand = True)
    
    # Check for the states and find the right location to split the state to it's own column
    if data["State"].iloc(0) in ("New", "South", "West", "Rhode"):
        data[["State", "name"]] = data["State"].str.split(pat = " ",n = 2, expand = True)
    elif data["State"].iloc(0) == ("District"):
        data[["State", "name"]] = data["State"].str.split(pat = " ",n = 3, expand = True)
    else:
        data[["State", "name"]] = data["State"].str.split(pat = " ",n = 1, expand = True)
    
    # check if the area in state column is in fact a state
    data = data[data["State"].isin(states)]
    
    # take the name of the restaurant (remaining string)
    name = data["name"][1]
    
    # Use the previous string to rename the count column
    data.rename(columns={'Count':name}, inplace=True)
    
    # Drop the extra column
    data.drop("name", axis = 1, inplace = True)
    
    # Add a column with state abbreviations
    data["ST"] = data["State"].map(state_abbreviations)
    
    # Re-organize columns
    data = data[["State", "ST", name]]
    
    data["Stock Price"] = get_price(name.split("", 1)[0])

    return data

In [139]:
def state_pop(url):
    
    """
    takes a link (wikipedia) and returns the state name and population
  
    Parameter
    ---------
    url : str
        A url link in quotation marks for the desired wikipwdia page (state population)
    
    Returns
    -------
    dataframe 
    A pandas dataframe containing states and population
    
    """
    
    wiki = get_website(url)
    wiki.find("table")
    
    rows = []
    
    # iterate over all rows in the faculty table
    for state in wiki.find_all("tr")[1:]:
         # Get all the cells (<td>) in the row.
        cells = state.find_all("td")
        
        # Find the state of the city in cell[1]
        # which for most states is contained in the <i> tag
        state_tag = cells[2].find("a") or cells[2]
        state = state_tag.text

        # which for most populations is contained in the <a> tag
        population_tag = cells[3].find("td") or cells[3]
        population = population_tag.text
        population = population.replace("\n", "")

         # Append this data.
        rows.append({
            "state": state,
            "population": population,
    })
        
    
    return pd.DataFrame(rows)

In [143]:
data1 = rest_loc("https://www.menuism.com/restaurant-locations/starbucks-coffee-39564", states, state_abbreviations)

AttributeError: 'NoneType' object has no attribute 'find_all'

In [79]:
data2 = rest_loc("https://www.menuism.com/restaurant-locations/dunkin-donuts-181624", states, state_abbreviations)

data1 = data1.merge(data2, on=["State", "ST"], how = 'left')

In [80]:
data3 = rest_loc("https://www.menuism.com/restaurant-locations/peets-coffee-tea-84051", states, state_abbreviations)

data1 = data1.merge(data3, on=["State", "ST"], how = 'left')

In [81]:
data4 = rest_loc("https://www.menuism.com/restaurant-locations/tim-hortons-190025", states, state_abbreviations)

data1 = data1.merge(data4, on=["State", "ST"], how = 'left')

In [82]:
data5 = rest_loc("https://www.menuism.com/restaurant-locations/panera-bread-4258", states, state_abbreviations)

data1 = data1.merge(data5, on=["State", "ST"], how = 'left')

In [90]:
data6 = rest_loc("https://www.menuism.com/restaurant-locations/caribou-coffee-164861", states, state_abbreviations)

data1 = data1.merge(data6, on=["State", "ST"], how = 'left')

AttributeError: 'NoneType' object has no attribute 'find_all'

In [31]:
data7 = rest_loc("https://www.menuism.com/restaurant-locations/au-bon-pain-69342", states, state_abbreviations)

data1 = data1.merge(data7, on=["State", "ST"], how = 'left')

In [32]:
data8 = rest_loc("https://www.menuism.com/restaurant-locations/the-coffee-bean-tea-leaf-165988", states, state_abbreviations)

data1 = data1.merge(data8, on=["State", "ST"], how = 'left')

In [142]:
data9 = rest_loc("https://www.menuism.com/restaurant-locations/mcdonalds-21019", states, state_abbreviations)

data1 = data1.merge(data9, on=["State", "ST"], how = 'left')

data_temp = data1

AttributeError: 'NoneType' object has no attribute 'find_all'

In [127]:
# Use the function to scrape the wikipedia page
pop = state_pop("https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population")

# Merge the data
data_pop = data_temp.merge(pop, how='left', left_on='State', right_on='state')

# Move the pop column to after the abbreviation

col = data_pop["population"]
data_pop.drop(columns=["population"], inplace=True)
data_pop.insert(2, col.name,col)

In [128]:
print(data1)

            State population_x  population  ST Starbucks Coffee locations  \
0          Alaska      733,391     733,391  AK                         24
1         Alabama    5,024,279   5,024,279  AL                         73
2        Arkansas    3,011,524   3,011,524  AR                         33
3         Arizona    7,151,502   7,151,502  AZ                        279
4      California   39,538,223  39,538,223  CA                       2362
5        Colorado    5,773,714   5,773,714  CO                        371
6     Connecticut    3,605,944   3,605,944  CT                        107
7        Delaware      989,948     989,948  DE                         20
8         Florida   21,538,187  21,538,187  FL                        616
9         Georgia   10,711,908  10,711,908  GA                        248
10         Hawaii    1,455,271   1,455,271  HI                         72
11           Iowa    3,190,369   3,190,369  IA                         49
12          Idaho    1,839,106   1,839,106  ID                         57
13       Illinois   12,812,508  12,812,508  IL                        455
14        Indiana    6,785,528   6,785,528  IN                        193
15         Kansas    2,937,880   2,937,880  KS                         65
16       Kentucky    4,505,836   4,505,836  KY                         69
17      Louisiana    4,657,757   4,657,757  LA                         76
18  Massachusetts    7,029,917   7,029,917  MA                        208
19       Maryland    6,177,224   6,177,224  MD                        212
20          Maine    1,362,359   1,362,359  ME                         22
21       Michigan   10,077,331  10,077,331  MI                        196
22      Minnesota    5,706,494   5,706,494  MN                        140
23       Missouri    6,154,913   6,154,913  MO                        118
24    Mississippi    2,961,279   2,961,279  MS                         23
25        Montana    1,084,225   1,084,225  MT                         17
26       Nebraska    1,961,504   1,961,504  NE                         30
27         Nevada    3,104,614   3,104,614  NV                        188
28           Ohio   11,799,448  11,799,448  OH                        266
29       Oklahoma    3,959,353   3,959,353  OK                         62
30         Oregon    4,237,256   4,237,256  OR                        279
31   Pennsylvania   13,002,700  13,002,700  PA                        279
32      Tennessee    6,910,840   6,910,840  TN                        126
33          Texas   29,145,505  29,145,505  TX                        720
34           Utah    3,271,616   3,271,616  UT                         59
35       Virginia    8,631,393   8,631,393  VA                        300
36        Vermont      643,077     643,077  VT                          6
37     Washington    7,705,281   7,705,281  WA                        634
38      Wisconsin    5,893,718   5,893,718  WI                        119
39        Wyoming      576,851     576,851  WY                         16

   Dunkin' Donuts locations Peet's Coffee & Tea locations  \
0                       NaN                           NaN
1                         1                           NaN
2                        11                           NaN
3                        74                           NaN
4                        46                           163
5                         5                             3
6                       406                           NaN
7                        57                           NaN
8                       654                           NaN
9                       147                           NaN
10                        1                             1
11                       14                           NaN
12                      NaN                           NaN
13                      579                             3
14                       51                           NaN
15                       12                           NaN
16                       34                           NaN
17                        5                           NaN
18                     1101                           NaN
19                      201                           NaN
20                      102                           NaN
21                       91                           NaN
22                        6                           NaN
23                       21                           NaN
24                        3                           NaN
25                      NaN                           NaN
26                        9                           NaN
27                       26                             1
28                      116                           NaN
29                        6                           NaN
30                        1                             8
31                      402                             1
32                       55                           NaN
33                       93                             3
34                        7                           NaN
35                      147                           NaN
36                       34                           NaN
37                        2                            14
38                       30                           NaN
39                      NaN                           NaN

   Tim Hortons locations Panera Bread locations        state_x  ...  \
0                    NaN                    NaN         Alaska  ...
1                    NaN                     20        Alabama  ...
2                    NaN                     13       Arkansas  ...
3                    NaN                     29        Arizona  ...
4                    NaN                    216     California  ...
5                    NaN                     32       Colorado  ...
6                     10                     41    Connecticut  ...
7                      1                      9       Delaware  ...
8                    NaN                    227        Florida  ...
9                    NaN                     71        Georgia  ...
10                   NaN                    NaN         Hawaii  ...
11                   NaN                     27           Iowa  ...
12                   NaN                      7          Idaho  ...
13                   NaN                    154       Illinois  ...
14                     5                     53        Indiana  ...
15                   NaN                     27         Kansas  ...
16                     3                     30       Kentucky  ...
17                   NaN                      1      Louisiana  ...
18                     5                     77  Massachusetts  ...
19                   NaN                     69       Maryland  ...
20                    27                      5          Maine  ...
21                   191                    108       Michigan  ...
22                     7                     52      Minnesota  ...
23                     1                     91       Missouri  ...
24                   NaN                      4    Mississippi  ...
25                   NaN                    NaN        Montana  ...
26                   NaN                     15       Nebraska  ...
27                   NaN                      6         Nevada  ...
28                   105                    170           Ohio  ...
29                   NaN                     28       Oklahoma  ...
30                   NaN                     12         Oregon  ...
31                     9                    112   Pennsylvania  ...
32                   NaN                     42      Tennessee  ...
33                   NaN                    110          Texas  ...
34                   NaN                    NaN           Utah  ...
35                     1                     98       Virginia  ...
36                   NaN                      6        Vermont  ...
37                   NaN                     16     Washington  ...
38                   NaN                     47      Wisconsin  ...
39                   NaN                    NaN        Wyoming  ...

          state_y population_y        state_x population_x        state_y  \
0          Alaska      733,391         Alaska      733,391         Alaska
1         Alabama    5,024,279        Alabama    5,024,279        Alabama
2        Arkansas    3,011,524       Arkansas    3,011,524       Arkansas
3         Arizona    7,151,502        Arizona    7,151,502        Arizona
4      California   39,538,223     California   39,538,223     California
5        Colorado    5,773,714       Colorado    5,773,714       Colorado
6     Connecticut    3,605,944    Connecticut    3,605,944    Connecticut
7        Delaware      989,948       Delaware      989,948       Delaware
8         Florida   21,538,187        Florida   21,538,187        Florida
9         Georgia   10,711,908        Georgia   10,711,908        Georgia
10         Hawaii    1,455,271         Hawaii    1,455,271         Hawaii
11           Iowa    3,190,369           Iowa    3,190,369           Iowa
12          Idaho    1,839,106          Idaho    1,839,106          Idaho
13       Illinois   12,812,508       Illinois   12,812,508       Illinois
14        Indiana    6,785,528        Indiana    6,785,528        Indiana
15         Kansas    2,937,880         Kansas    2,937,880         Kansas
16       Kentucky    4,505,836       Kentucky    4,505,836       Kentucky
17      Louisiana    4,657,757      Louisiana    4,657,757      Louisiana
18  Massachusetts    7,029,917  Massachusetts    7,029,917  Massachusetts
19       Maryland    6,177,224       Maryland    6,177,224       Maryland
20          Maine    1,362,359          Maine    1,362,359          Maine
21       Michigan   10,077,331       Michigan   10,077,331       Michigan
22      Minnesota    5,706,494      Minnesota    5,706,494      Minnesota
23       Missouri    6,154,913       Missouri    6,154,913       Missouri
24    Mississippi    2,961,279    Mississippi    2,961,279    Mississippi
25        Montana    1,084,225        Montana    1,084,225        Montana
26       Nebraska    1,961,504       Nebraska    1,961,504       Nebraska
27         Nevada    3,104,614         Nevada    3,104,614         Nevada
28           Ohio   11,799,448           Ohio   11,799,448           Ohio
29       Oklahoma    3,959,353       Oklahoma    3,959,353       Oklahoma
30         Oregon    4,237,256         Oregon    4,237,256         Oregon
31   Pennsylvania   13,002,700   Pennsylvania   13,002,700   Pennsylvania
32      Tennessee    6,910,840      Tennessee    6,910,840      Tennessee
33          Texas   29,145,505          Texas   29,145,505          Texas
34           Utah    3,271,616           Utah    3,271,616           Utah
35       Virginia    8,631,393       Virginia    8,631,393       Virginia
36        Vermont      643,077        Vermont      643,077        Vermont
37     Washington    7,705,281     Washington    7,705,281     Washington
38      Wisconsin    5,893,718      Wisconsin    5,893,718      Wisconsin
39        Wyoming      576,851        Wyoming      576,851        Wyoming

   population_y        state_x        state_y population_y          state
0       733,391         Alaska         Alaska      733,391         Alaska
1     5,024,279        Alabama        Alabama    5,024,279        Alabama
2     3,011,524       Arkansas       Arkansas    3,011,524       Arkansas
3     7,151,502        Arizona        Arizona    7,151,502        Arizona
4    39,538,223     California     California   39,538,223     California
5     5,773,714       Colorado       Colorado    5,773,714       Colorado
6     3,605,944    Connecticut    Connecticut    3,605,944    Connecticut
7       989,948       Delaware       Delaware      989,948       Delaware
8    21,538,187        Florida        Florida   21,538,187        Florida
9    10,711,908        Georgia        Georgia   10,711,908        Georgia
10    1,455,271         Hawaii         Hawaii    1,455,271         Hawaii
11    3,190,369           Iowa           Iowa    3,190,369           Iowa
12    1,839,106          Idaho          Idaho    1,839,106          Idaho
13   12,812,508       Illinois       Illinois   12,812,508       Illinois
14    6,785,528        Indiana        Indiana    6,785,528        Indiana
15    2,937,880         Kansas         Kansas    2,937,880         Kansas
16    4,505,836       Kentucky       Kentucky    4,505,836       Kentucky
17    4,657,757      Louisiana      Louisiana    4,657,757      Louisiana
18    7,029,917  Massachusetts  Massachusetts    7,029,917  Massachusetts
19    6,177,224       Maryland       Maryland    6,177,224       Maryland
20    1,362,359          Maine          Maine    1,362,359          Maine
21   10,077,331       Michigan       Michigan   10,077,331       Michigan
22    5,706,494      Minnesota      Minnesota    5,706,494      Minnesota
23    6,154,913       Missouri       Missouri    6,154,913       Missouri
24    2,961,279    Mississippi    Mississippi    2,961,279    Mississippi
25    1,084,225        Montana        Montana    1,084,225        Montana
26    1,961,504       Nebraska       Nebraska    1,961,504       Nebraska
27    3,104,614         Nevada         Nevada    3,104,614         Nevada
28   11,799,448           Ohio           Ohio   11,799,448           Ohio
29    3,959,353       Oklahoma       Oklahoma    3,959,353       Oklahoma
30    4,237,256         Oregon         Oregon    4,237,256         Oregon
31   13,002,700   Pennsylvania   Pennsylvania   13,002,700   Pennsylvania
32    6,910,840      Tennessee      Tennessee    6,910,840      Tennessee
33   29,145,505          Texas          Texas   29,145,505          Texas
34    3,271,616           Utah           Utah    3,271,616           Utah
35    8,631,393       Virginia       Virginia    8,631,393       Virginia
36      643,077        Vermont        Vermont      643,077        Vermont
37    7,705,281     Washington     Washington    7,705,281     Washington
38    5,893,718      Wisconsin      Wisconsin    5,893,718      Wisconsin
39      576,851        Wyoming        Wyoming      576,851        Wyoming

[40 rows x 21 columns]

# Break

In [ ]:

# Initialize an empty list
rows = []

# Iterate over all rows in the faculty table
for location in starbucks:
    
    #print(cells)

    # Find the name of the course in cell[0]
    state_tag = location.find("a")
    if state_tag is not None:
        state = state_tag.text
    else:
        None

    # Append this data.
    rows.append({
        "State": state
    })

# Create a DataFrame from the list of dictionaries
data = pd.DataFrame(rows)

#data["State"] = data["State"].apply(lambda x: x.replace("Starbucks Coffee locations ", "").replace("(", "").replace(")", ""))

#data[["State", "Starbucks Coffee Locations"]] = data["State"].str.rsplit(" ", 1, expand = True)

#data = data[data["State"].isin(states)]

#data["ST"] = data["State"].map(state_abbreviations)

#data = data[["State", "ST", "Starbucks Coffee Locations"]]

#print(data.head())

In [ ]:
# Original code
# Initialize an empty list
rows = []

# Iterate over all rows in the faculty table
for location in starbucks:
    
    #print(cells)

    # Find the name of the course in cell[0]
    state_tag = location.find("a")
    if state_tag is not None:
        state = state_tag.text
    else:
        None

    # Append this data.
    rows.append({
        "State": state
    })

# Create a DataFrame from the list of dictionaries
data = pd.DataFrame(rows)

data["State"] = data["State"].apply(lambda x: x.replace("Starbucks Coffee locations ", "").replace("(", "").replace(")", ""))

data[["State", "Starbucks Coffee Locations"]] = data["State"].str.rsplit(" ", 1, expand = True)

data = data[data["State"].isin(states)]

data["ST"] = data["State"].map(state_abbreviations)

data = data[["State", "ST", "Starbucks Coffee Locations"]]

print(data.head())